name: Docker

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the main branch
  push:
    branches: [ docker ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  docker:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0

      # https://github.com/marketplace/actions/get-latest-tag
      - name: Get Previous tag
        id: previoustag
        uses: "WyriHaximus/github-action-get-previous-tag@v1"

      - name: Login to docker hub
        uses: docker/login-action@v1.6.0
        with:
          username: smartbch
          password: ${{secrets.DOCKERHUB_PASSWORD}}

      # If you want support for more platforms you can use our setup-qemu action:
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v1

      - name: Create buildx worker node
        run: docker buildx create --use

      - name: Build mainnet image
        env:
          GIT_TAG: ${{ steps.previoustag.outputs.tag }}
        run: |
          echo $GIT_TAG
          docker buildx build --push \
          -f Dockerfile.optimized \
          -t smartbch/smartbchd:$GIT_TAG \
          --platform linux/arm64,linux/amd64 .

      - name: Build testnet image
        env:
          GIT_TAG: ${{ steps.previoustag.outputs.tag }}
        run: |
          echo "$GIT_TAG"-amber
          docker buildx build --push \
          --progress plain \
          -f Dockerfile.optimized \
          -t smartbch/smartbchd:"$GIT_TAG"-amber \
          --build-arg SMARTBCH_BUILD_TAGS='cppbtree,params_amber' \
          --build-arg CONFIG_VERSION=v0.0.4 \
          --build-arg CHAIN_ID=0x2711  \
          --platform linux/arm64,linux/amd64 .
